# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
!packages/repositories.config
TestResults/
bin/
obj/
/_ReSharper
*_ReSharper*
*.suo
*.user



# mstest test results
TestResults
MdDayCalculator.SL.Tests.xap
MdDayCalculator.SL.Tests.Web.csproj
MdDayCalculator.SL.TestsTestPage.aspx
MdDayCalculator.SL.TestsTestPage.html
AssemblyInfo.cs
Silverlight.js
Web.Debug.config
Web.Release.config
Web.config
MdDayCalculator.sln
UpgradeLog.XML
UpgradeLog.htm
UpgradeReport.css
UpgradeReport.xslt
UpgradeReport_Error.png
UpgradeReport_Information.png
UpgradeReport_Success.png
UpgradeReport_Warning.png
