# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
!packages/repositories.config
TestResults/
bin/
obj/
/_ReSharper
*_ReSharper*
*.suo
*.user



# mstest test results
TestResults