<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see https://github.com/techtalk/SpecFlow/wiki/Configuration -->
    <unitTestProvider name="NUnit" />
    <stepAssemblies>
      <stepAssembly assembly="WindowsPhoneTestFramework.Test.EmuSteps" />
      <!-- <stepAssembly assembly="{name-of-assembly-containing-bindgins}" /> -->
    </stepAssemblies>
  </specFlow>
  <appSettings>
   
    <add key="EmuSteps.Application.WindowsPhone.ApplicationId" value="{f6fedc56-7523-42d0-b6e1-a1ca2496a0d9}" />
    <add key="EmuSteps.Application.WindowsPhone.ApplicationIconPath" value="..\..\..\MdDayCalculator\ApplicationIcon.png" />
    <add key="EmuSteps.Application.WindowsPhone.ApplicationPackagePath" value="..\..\..\MdDayCalculator\Bin\Debug\MdDayCalculator.xap" />
    <add key="EmuSteps.Application.WindowsPhone.ApplicationName" value="MdDayCalculator" />
  </appSettings>
</configuration>